h1 {
    text-align: center;
}

p {
    color: rgb(2, 54, 2);
    text-align: center;
}


.navi {
    border: 5px dashed;

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding: 0;
}

.navi>li {
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
}

.navi>li>a:hover {
    background-color: rgb(17, 165, 17);
}

body {
    background-color: darkseagreen;
}

img {
    margin: auto;
    padding-left: 40%;
    padding-right: 50%;
}